@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'GTEestiProDisplay-Bold';
    src: url('../fonts/GTEestiProDisplay-Bold.woff2') format('woff2'),
         url('../fonts/GTEestiProDisplay-Bold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GTEestiProDisplay-Medium';
    src: url('../fonts/GTEestiProDisplay-Medium.woff2') format('woff2'),
         url('../fonts/GTEestiProDisplay-Medium.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GTEestiProDisplay-Regular';
    src: url('../fonts/GTEestiProDisplay-Regular.woff2') format('woff2'),
         url('../fonts/GTEestiProDisplay-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'GTEestiProDisplay-Thin';
    src: url('../fonts/GTEestiProDisplay-Thin.woff2') format('woff2'),
         url('../fonts/GTEestiProDisplay-Thin.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'boxout';
    src: url('../fonts/boxout.eot');
    src: url('../fonts/boxout.eot?#iefix') format('embedded-opentype'),
         url('../fonts/boxout.woff') format('woff'),
         url('../fonts/boxout.ttf') format('truetype'),
         url('../fonts/boxout.svg#boxout') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icons {
	font-family: 'boxout';
	font-weight: normal;
	font-style: normal;
	font-size: 30px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-moz-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
}

.icon-arrow-left:before{content:'\0041';}
.icon-bandcamp:before{content:'\0042';}
.icon-chevron-down:before{content:'\0043';}
.icon-chevron-up:before{content:'\0044';}
.icon-facebook:before{content:'\0045';}
.icon-instagram:before{content:'\0046';}
.icon-live:before{content:'\0047';}
.icon-logo:before{content:'\0048';}
.icon-mixcloud:before{content:'\0049';}
.icon-pause:before{content:'\004a';}
.icon-play:before{content:'\004b';}
.icon-radio-waves:before{content:'\004c';}
.icon-search:before{content:'\004d';}
.icon-twitter:before{content:'\004e';}
.icon-volume:before{content:'\004f';}
.icon-youtube:before{content:'\0050';}

.icons.icon-sm { font-size: 15px; }
.icons.icon-1x { font-size: 15px; }
.icons.icon-2x { font-size: 20px; }
.icons.icon-3x { font-size: 30px; }
.icons.icon-4x { font-size: 40px; }
.icons.icon-5x { font-size: 50px; }

html {
	height: 100%;
	position: relative;
	box-sizing: border-box;
}
body {
	font-family: 'GTEestiProDisplay-Regular';	
	font-size: 14px;
	font-size: .875rem;
	line-height: 1.0625rem;
	text-rendering: optimizeLegibility;
	position: relative;
	height: 100%;
	overflow-y: scroll;
	color: #555555;
	margin-top: 100px;
}

a:link {
	color: #00a4ff;
	text-decoration: none;
	outline: none;
}

a:visited {
	color: #00a4ff;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #ED597A;
	text-decoration: none;
	outline: none;
}

a:active {
	color: #ED597A;
	text-decoration: none;
	outline: none;
}

h1,.h1 {
	/*font-size: 36px;	
	line-height: 39px;*/
	font-size: 2.25rem;
	line-height: 2.4375rem;
}

h2,.h2 {
	/*font-size: 30px;
	line-height: 33px;*/
	font-size: 1.875rem;	
	line-height: 2.0625rem;
}

h3,.h3 {
	/*font-size: 24px;	
	line-height: 27px;*/
	font-size: 1.5rem;
	line-height: 1.6875rem;
}

h4,.h4 {
	/*font-size: 18px;	
	line-height: 21px;*/
	font-size: 1.125rem;
	line-height: 1.3125rem;
}

h5,.h5 {
	/*font-size: 14px;
	line-height: 17px;*/
	font-size: .875rem;
	line-height: 1.0625rem;
}

h6,.h6, small {
	/*font-size: 10px;
	line-height: 13px;*/
	font-size: .625rem;
	line-height: .8125rem;	
}

.font-bold {
	font-family: 'GTEestiProDisplay-Bold';
	font-weight: 400;
}

.font-medium {
	font-family: 'GTEestiProDisplay-Medium';
	font-weight: 400;
}

.font-regular {
	font-family: 'GTEestiProDisplay-Regular';
	font-weight: 400;
}

.font-light {
	font-family: 'GTEestiProDisplay-Thin';
	font-weight: 400;
}

.bg-primary {
	color: #fff;
	background-color: #4e2d87 !important;
}
.bg-primary-gradient {
	background-image: linear-gradient(135deg, #3023ae, #c86dd7);
}
.bg-primary a {
	color: #fff;
}
.btn-primary {
	color: #fff;
	background-color: #4e2d87 !important;
	border-color: #4e2d87 !important;
}
.text-primary {
	color: #4e2d87 !important;
}

.navbar-light .navbar-toggler {
    border: none;
	position: relative;
	top: 5px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
	font-size: 16px;
	line-height: 18px;
	padding: 16px 15px 12px;
	border-bottom: 4px solid transparent;
	height: 50px;
}

.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
	border-color: #fff;
}
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show > .nav-link {
    color: #fff;
	border-color: #fff;
}
.nav-link {
	display: flex;
	align-items: center;
}
.border-left,
.border-right, 
.border-top, 
.border-bottom {
    border-color: #4e2d87 !important;
}
/*div {
	border: 1px solid red;
}*/

#header {
	height: 100px;
	background-color: #fff;
}

#radio-controls {
	height: 100px !important;
	width: 100px;
	cursor: pointer;
	border-right: 1px solid #4e2d87;
	border-bottom: 1px solid #4e2d87;
	background-color: #fff;
}
#radioBar {
	height: 50px;
	color: #4e2d87;
	border-top: 1px solid #4e2d87;
}

#navBar {
	height: 50px;
}

#radioBar [class*='col-'] {
	height: 50px;
	display: flex;
	align-items: center;
}
#radioBar .icons { 
	color: #4e2d87;
}

#whatsPlaying {
	border-left: 1px solid #4e2d87;
	border-right: 1px solid #4e2d87;	
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
}
#volumeBar {
	width: 50px;
	height: 50px;
	cursor: pointer;
	padding: 0;
}

#volumeBar i {
	cursor: pointer;
	padding: 10px;
}

#volumeControl {
    padding: 10px 0;
	padding: 0;
    border: 1px solid #391366;
    color: #391366;
    position: absolute;
    right: -50px;
    top: 96px;
    text-align: center;
    cursor: pointer;
   	background-color: #fff;
    transition: all .2s ease-in-out;
    z-index: 10;
    height: 52px;
    width: 150px;
    transform: rotate(270deg);
    outline: none;    
    -webkit-appearance: none;
    appearance: none;
}

input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	background: #391366;
	width: 100%;
	height: 1px;
	cursor: pointer;
	animate: 0.2s;
	border: none;
	box-shadow: none;
	border-radius: 0;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	box-shadow: none;
	border: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #391366;
	cursor: pointer;
	margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #391366;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 1px;
	cursor: pointer;
	animate: 0.2s;
	background: #391366;
	border: none;
	box-shadow: none;
	border-radius: 0;
}
input[type=range]::-moz-range-thumb {
	border: none;
	box-shadow: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #391366;
	cursor: pointer;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 1px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #391366;
	border: none;
	box-shadow: none;
	border-radius: 0;
}
input[type=range]::-ms-fill-upper {
	background: #391366;
	border: none;
	box-shadow: none;
	border-radius: 0;
}
input[type=range]::-ms-thumb {
	margin-top: 1px;
	border: none;
	box-shadow: none;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #391366;
	cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
	background: #391366;
}
input[type=range]:focus::-ms-fill-upper {
	background: #391366;
}

#trackInfo {
    position: absolute;
    right: 0;
	left: 0;
    top: 49px;
    width: 100%;
	height: 157px;
	background-color: #fff;
	border: 1px solid #4e2d87;
	z-index: 1;
}
#trackInfo [class*='col-'] {
	height: 100%;
}
#trackInfo .genre {
	padding: 5px 2.5px;
	border-top: 1px solid #4e2d87;
}
.container-wrapper {
	padding: 50px 100px;
	padding: 50px 6.9vw;
	padding: 50px 3.45vw;
}
#footer {	
	color: #fff;
	padding: 60px 30px 30px;
}
#footer a {
	color: #fff;
}

#footer strong {
	padding: .5rem 1rem;
}

.social-icons .nav-link {
	padding: 0;
	height: 15px;
	justify-content: center;
}
.social-icons .icons { 
	font-size: 15px; 
}

.social-icons .icons.icon-bandcamp {
    font-size: 30px;
    position: relative;
    margin-top: -7px;
}

.btn {
	border-radius: 0;
	font-size: 16px;
	line-height: 18px;
	padding: 11px 20px 9px;
}
.btn-light {
	color: #4e2d87;
}
.form-control {
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 0;
	font-size: 14px;
	line-height: 17px;
	padding: 11px 20px 10px;
}

.form-control:-ms-input-placeholder {
    color: #fff;
}

.form-control::-ms-input-placeholder {
    color: #fff;
}
.form-control::placeholder {
    color: #fff;
    opacity: 1;	
}

.genre .badge {
	font-family: 'GTEestiProDisplay-Regular';
	font-size: 12px;
	line-height: 15px;
	text-align: center;
	padding: 1px 10px 0;
	color: #4e2d87;
	border: 1px solid #4e2d87;
	border-radius: 0;
}

.schedules {
	color: #4e2d87;
}

.episodes .episode {
	padding: 1.4vw;
	/*border: 1px solid red;*/
}

/*.episodes .episode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
*/

.episodes .episode .card {
	height: 100%;
	height: 300px;
	max-width: 300px;
	width: 100%;
	border: 0;
	border-radius: 0;
	margin: 0 auto;
	background-image: linear-gradient(135deg, #3023ae, #c86dd7);
	background-image: url('../images/krupkaro.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	margin-top: 2%;
	position: relative;
}
.episodes .episode .card .card-body {
	height: auto;
	background-color: rgba(78, 45, 135, 0.6);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	bottom: 2px;
	padding: 10px 10px 5px;
}

.episodes .episode .card .description {
	color: #fff;
	font-size: 18px;
	line-height: 21px;
}
.episodes .episode .card .icons {
	cursor: pointer;
}

.showsBanner {
	border: 0;
	border-radius: 0;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	font-size: 18px;
	line-height: 21px;
	color: #fff;
}
.showsBanner .hosts {
	position: absolute;
	bottom: 1.25rem;
}
.shows .show {
	padding: 15px;
	padding: 1vw;	
}

.shows .show .card {
	/*height: 150px;
	width: 100%;
	width: 300px;*/
	border-radius: 0;
	margin: 0 auto;
	background-color: #fff;
	border: solid 1px #4e2d87;
}
.shows .show .card .card-body {
	padding: 10px 10px 2.5px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;	
}
.shows .show .card .title {
	color: #4e2d87;
	margin-bottom: 2px;
}

.shows .show .card .description {
	font-size: 12px;
	margin: 0;
}
.shows .show .card .card-footer {
	border: 0;
	color: #4e2d87;
	background-color: #fff;
	padding: 2.5px 10px 5px;
}

.episodeDetails .albumArt {
	width: 37.5vw;
	border: solid 1px #4e2d87;
}

.episodeDetails .btn-primary {
	position: absolute;
	right: 0;
	bottom: 1.9rem;
	left: 1.25rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media (max-width: 767px) {
	/*#footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		min-height: 300px;
	}*/
	#radio-controls {
		height: 50px !important;
		width: 50px;
	}
	#radio-controls .icons {
		font-size: 24px;
		line-height: 27px;
	}
	#radioBar .h4 {
		font-size: 14px;
		line-height: 17px;
	}
	.episodeDetails .albumArt {
		width: 100%;
	}	
	.episodeDetails .btn-primary {
		position: relative;
		left: 0;
		bottom: 0;
	}
}
@media (max-width: 567px) {
	
}